@import "../../src/common/styles/sass/variables";

.header {
    height: 80px;
    background-color: $bgColor;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    z-index: 10;
    width: 100%;
    left: 0;
    right: 0;
    @media screen and (max-width: 844px) {
            justify-content: center;

    }
}
