@import "../../common/styles/sass/mixins";
@import "../../common/styles/sass/variables";

.nav {
    width: 500px;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    letter-spacing: 1.5px;
    color: $headersColor;
    padding: 5px;
    @include text(17px, 1.2);
    :nth-child(5) {
        margin-right: 30px;
    }
    .active {
        color: $primaryColor;
    }
    .link {
        &:hover {
            color: $primaryColor;
        }
    }
    @media screen and (max-width: 580px) {
        display: none;
    }
}
