@import "../../src/common/styles/sass/variables";


.contactBlock {
    width: 100%;
    height: auto;
    background-color: $bgColor;
    padding-bottom: 10px;
    color: white;

    .contactContainer {
        flex-direction: column;
        justify-content: flex-start;

        .lineInput {
            display: flex;
            justify-content: space-around;
            align-content: space-around;
            margin-bottom: 30px;

            @media screen and (max-width: 800px) {
                flex-direction: column;
            }
        }
    }
}
