@import "../../src/common/styles/sass/variables";


.contactBlock {
    width: 100%;
    height: auto;
    background-color: $bgColor;
    padding-bottom: 10px;

    .contactContainer {
        flex-direction: column;
        justify-content: flex-start;

        .contact {
            width: 50%;
            flex-direction: column;
            align-items: center;
            display: flex;
            flex-wrap: wrap;
            @media screen and (max-width: 660px) {
                width: 80%;
            }
        }

        .contact input, .contact textarea {
            width: 100%;
            margin: 10px 0;
        }
    }
}
