.hiringBlock {
    height: auto;
    background-color: maroon;
}

.hiringContainer {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.buttonContainer {
    margin-bottom: 10px;
}