@import "../common/styles/sass/variables";

.skillsBlock {
    min-height: 100vh;
    background-color: $bgColor;
}

.skillsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.skills {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}