.project {
    width: 400px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    margin: 0 10px 20px 10px;
}

.imageContainer {
    width: 100%;
    height: 300px;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    }

.imageContainer::before {
    position: absolute;
    content: '';
    background-color: black;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.4;
}

.projectTitle {
    line-height: 1.2;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 17px;
    color: #000;
    margin: 0 0 5px;
    letter-spacing: 1px;
}

.description {
    color: #000;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.8;
}

.projectInfo {
    padding: 25px 20px;
}

.viewBtn {
    padding: 10px 20px;
    background-color: #007bff;
    border: 1px solid transparent;
    color: #fff;
    letter-spacing: 1px;
    z-index: 1;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px;
    text-decoration: none;
}


@media screen and (max-width: 410px) {
    .project {
        width: 90%;
    }
}
