.footerBlock {
    width: 100%;
    height: auto;
    background-color: lightgreen;

}

.footerContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.footer {
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.rights {
    width: 100%;
    text-align: center;
    margin: 10px auto;
}